@charset "utf-8";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 36px;
  scroll-behavior: smooth;

}

a,
ul,
ol,
h1,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;

}

h2 {
  font-size: 3em;

}

body * {
  /* outline: 1px dotted tomato; */

}

ol,
ul {
  list-style: none;

}


a {
  text-decoration: none;
  color: black;
  cursor: pointer;

}

.inner-gred {
  margin: 0 10%;

}

.full-gred {
  padding: 0 10%;

}

.text-gred {
  padding: 90 0 0 0;

}

.text-sub-gred {
  width: 100%;
  display: block;
  font-size: .6em;

}

.solid {
  margin-top: 10px;
  display: block;
  border-bottom: 1px solid #000;

}

.rel {
  position: relative;

}

.toBtn {
  position: absolute;
  display: block;
  top: 75%;
  right: 37px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform: rotate(225deg);
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transition: transform .25s;

}

.toBtn.on {
  position: absolute;
  display: block;
  top: 75%;
  right: 37px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(45deg);
  transition: transform .25s;

}

.empty_box {
  overflow: hidden;
  height: 0;
  transition: all 1s ease;
  
}

.empty_box > span {
  margin: 0 auto;
}

.empty_box.on {
  height: fit-content;

}


/* ////////////////////////////////////////////////////////////// */

.header_wrap {
  position: fixed;
  width: calc(100% - 100px);
  height: 90px;
  font-size: 18px;
  padding: 0 50px;
  background-color: #fff;
  z-index: 99999;

}

.header-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}

.nav-container {
  width: 38.5%;
  height: 30%;
  display: flex;

}

.nav-widget {
  width: 23.5%;
  display: flex;

}

.logo {
  width: 50%;
  display: block;

}

.logo img {
  width: 100%;
  height: 100%;
}



header nav {
  width: 100%;
  margin-left: 30px;

}

header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.nav-menu a:hover {
  text-decoration: underline 2px;
  color: black;


}

.widget-hash {
  display: flex;

}

.hash-rolling-wrap {
  height: 24px;
  overflow: hidden;
}

.rolling-list {
  position: relative;
  top: 0px;
  height: 100%;
  font-size: 2em;
  font-weight: bolder;
  animation: rollingNav 10s linear infinite;

}

@keyframes rollingNav {
  to {
    top: -800%;

  }
}

.footer_wrap {
  display: flex;
  padding: 0 50px;
  width: calc(100% - 100px);
  height: 61px;
  align-items: center;
  justify-content: space-between;

}

footer nav {
  width: 20%;
}

footer .nav-menu {
  width: 100%;
  display: flex;
  font-size: .4em;
  font-weight: 550;
  justify-content: space-between;

}

.info {
  width: 55%;
  display: flex;
  font-size: .4em;
  align-items: center;
  justify-content: space-around;

}

/********************************************************/

#container {
  padding-top: 90px;

}

#section-banner {}

#section-banner img {
  width: 100%;
  height: calc(100% - 220px);

}


#section-1 {
  background-color: #fff;

}

.table {
  width: 100%;
  height: 50%;

}

.table td {
  width: 25%;
  padding: 2.5% 2%;
  font-size: 1em;
  border-bottom: .5px dotted #000;
  text-align: center;


}

/********************************************************/

#section-2 {
  background-color: #f1f1f1;

}

#section-2 .text-gred img {
  position: absolute;
  top: 80;
  width: 100%;
  height: 65%;
  opacity: .3;
  
}

#section-2 img:nth-child(1) {
  display: block;

}

#section-2 img:nth-child(2) {
  display: none;

}
#section-2 .cont_head {
  display: flex;
  
}

#section-2 .cont_head span {
  cursor: pointer;
  font-size: 2em;

}
#section-2 .head_alone span {
  text-decoration-line: underline;

}

#section-2 .cont_head div {
  width: 50%;
  
}

#section-2 .cont_cont {
  
}

#section-2 .cont-alone div:hover, 
#section-2 .cont-team div:hover {
  background-color: rgb(155 192 227);
  
}

#section-2 .cont-alone {
  display: block;
  
}

#section-2 .cont-team {
  display: none;
  
}

/********************************************************/

#section-3 {
  background-color: #fff;

}


#section-4 {
  background-color: #f1f1f1;
  
}

#section-4 img {
  width: 100%;

}