@charset "utf-8";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 36px;
  scroll-behavior: smooth; 

}

a,
ul,
ol,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;

}

body * {
  outline: 1px dotted red;

}

ol,
ul {
  list-style: none;

}


a {
  text-decoration: none;
  color: black;

}

.inner-gred {
  margin: 0 8.5%;
  padding: 0 1.5%;

}

.text-gred {
  margin-top: 90px;
  padding: 0 1.3%;
}

/* ////////////////////////////////////////////////////////////// */

.header_wrap {
  position: fixed;
  width: calc(100% - 100px);
  height: 90px;
  font-size: 18px;
  padding: 0 50px;
  background-color: #fff;

}

.header-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}

.nav-container {
  width: 38.5%;
  height: 30%;
  display: flex;

}

.nav-widget {
  width: 23.5%;
  display: flex;

}

.logo {
  width: 50%;
  display: block;

}

nav {
  width: 100%;
  margin-left: 30px;

}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.nav-menu a:hover {
  text-decoration: underline 2px;
  color: black;
  

}

.widget-hash {
  display: flex;

}

.hash-rolling-wrap {
  height: 24px;
  overflow: hidden;
}

.rolling-list {
  position: relative;
  top: 0px;
  height: 100%;
  font-weight: bolder;
  animation: downHill 10s linear infinite;

}

@keyframes downHill {
  to {
    top: -400%;

  }
}

section {
  height: calc(100vh - 90px);

}


.footer_wrap {
  display: flex;
  padding: 0 50px;
  width: calc(100% - 100px);
  height: 61px;
  align-items: center;
  justify-content: space-between;

}

.footer-nav-menu {
  display: flex;

}

.info {
  display: flex;
  justify-content: space-around;

}

/********************************************************/

#container {
  padding-top: 90px;
  background-color: aquamarine;

}

#section-1 {
  background-color: #fff;

}
#section-2 {
  background-color: #f1f1f1;
  
}
#section-3 {
  background-color: #fff;
  
}
#section-4 {
  background-color: #f1f1f1;

}