@charset "utf-8";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 36px;
  scroll-behavior: smooth;

}

a,
ul,
ol,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;

}

body * {
  /* outline: 1px dotted tomato; */

}

ol,
ul {
  list-style: none;

}


a {
  text-decoration: none;
  color: black;
  cursor: pointer;

}

.inner-gred {
  margin: 0 10%;

}

.full-gred {
  padding: 0 10%;

}

.text-gred {
  padding: 90 0 0 0;

}

.text-sub-gred {
  width: 100%;
  display: block;
  font-size: .6em;

}

.solid {
  margin-top: 10px;
  display: block;
  border-bottom: 1px solid #000;

}

.rel {
  position: relative;

}

.toBtn {
  position: absolute;
  display: block;
  top: 75%;
  right: 37px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform: translate(0, -50%) rotate(225deg);
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transition: transform .1s;

}

.toBtn.on {
  position: absolute;
  display: block;
  top: 75%;
  right: 37px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform: translate(0, -50%) rotate(45deg);
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transition: transform .1s;

}

.empty_box {
  display: none;

}

.empty_box.on {
  display: block;
  height: 100px;

}

/* ////////////////////////////////////////////////////////////// */

.header_wrap {
  position: fixed;
  width: calc(100% - 100px);
  height: 90px;
  font-size: 18px;
  padding: 0 50px;
  background-color: #fff;
  z-index: 99999;

}

.header-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}

.nav-container {
  width: 38.5%;
  height: 30%;
  display: flex;

}

.nav-widget {
  width: 23.5%;
  display: flex;

}

.logo {
  width: 50%;
  display: block;

}

.logo img {
  width: 100%;
  height: 100%;
}



header nav {
  width: 100%;
  margin-left: 30px;

}

header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.nav-menu a:hover {
  text-decoration: underline 2px;
  color: black;


}

.widget-hash {
  display: flex;

}

.hash-rolling-wrap {
  height: 24px;
  overflow: hidden;
}

.rolling-list {
  position: relative;
  top: 0px;
  height: 100%;
  font-size: 2em;
  font-weight: bolder;
  animation: rollingNav 10s linear infinite;

}

@keyframes rollingNav {
  to {
    top: -800%;

  }
}

.footer_wrap {
  display: flex;
  padding: 0 50px;
  width: calc(100% - 100px);
  height: 61px;
  align-items: center;
  justify-content: space-between;

}

footer nav {
  width: 20%;
}

footer .nav-menu {
  width: 100%;
  display: flex;
  font-size: .4em;
  font-weight: 550;
  justify-content: space-between;

}

.info {
  width: 55%;
  display: flex;
  font-size: .4em;
  align-items: center;
  justify-content: space-around;

}

/********************************************************/

#container {
  padding-top: 90px;

}


section {

}


#section-banner {}

#section-banner img {
  width: 100%;
  height: calc(100% - 220px);

}


#section-1 {
  background-color: #fff;

}


#section-2 {
  background-color: #f1f1f1;

}

.table {
  margin-top: 42px;
  width: 100%;
  height: 50%;
  font-size: .5em;

}

.table td {
  width: 25%;
  padding: 2.5% 2%;
  font-size: 1em;
  border-bottom: .5px dotted #000;
  text-align: center;


}

#section-3 {
  background-color: #fff;

}

#section-4 {
  background-color: #f1f1f1;

}

#section-5 {
  height: calc(100% - 61px);

}

#section-5 img {
  width: 100%;
  height: 100%;
}