@charset "utf-8";
body * {
 outline: 2px dotted red;
}

body * {
  outline: 1px dotted tomato;

}

#aSide model-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
  border: none;
  
}
