@charset "utf-8";
@import url(/css/common.css);



#pg3 a {
  position: absolute;
  top: calc(50vh - 21.5px);
  left: calc(50% - 102.5px);
  font-size: 2em;
  cursor: pointer;
  
}

#pg3 a:hover {
  top: calc(50vh - 42.5px);
  left: calc(50% - 205.1405px);
  font-size: 4em;
  font-weight: 900;


}
